---
---

<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <div class="page-wrapper padding-m text-center v-rhythm">

      <img src="images/dreamt.jpg" alt="dreamt">

      <div class="icon-width-max margin-auto-h">
        <div class="icon-ratio">
          <div
             ><a class="full-height subtle-icon" href="http://dreamt.bandcamp.com/album/comfort-road" target="_blank" data-image-swap="shopping-icon"
              ><img id="shopping-icon" class="full-height margin-nudge-r" src="{{ site.baseurl }}/images/1d.png" alt="bandcamp" data-hover-image="{{ site.baseurl }}/images/1c.png"
            ></a

            ><a class="full-height subtle-icon" href="http://facebook.com/dreamtmusic" target="_blank" data-image-swap="facebook-icon"
              ><img id="facebook-icon" class="full-height" src="{{ site.baseurl }}/images/2b.png" alt="facebook" data-hover-image="{{ site.baseurl }}/images/2a.png"
            ></a

            ><a class="full-height subtle-icon" href="http://soundcloud.com/dreamtmusic" target="_blank" data-image-swap="soundcloud-icon"
              ><img id="soundcloud-icon" class="full-height" src="{{ site.baseurl }}/images/3b.png" alt="soundcloud" data-hover-image="{{ site.baseurl }}/images/3a.png"
            ></a

            ><a class="full-height subtle-icon" href="http://twitter.com/TheDreamtBand" target="_blank" data-image-swap="twitter-icon"
              ><img id="twitter-icon" class="full-height" src="{{ site.baseurl }}/images/4b.png" alt="twitter" data-hover-image="{{ site.baseurl }}/images/4a.png"
            ></a

            ><a class="full-height subtle-icon" href="http://instagram.com/dreamtagram" target="_blank" data-image-swap="instagram-icon"
              ><img id="instagram-icon" class="full-height" src="{{ site.baseurl }}/images/5b.png" alt="instagram" data-hover-image="{{ site.baseurl }}/images/5a.png"
            ></a
          ></div>
        </div>
      </div>

      <iframe class="block full-width screen-height spotify-size-max margin-auto-h" src="https://embed.spotify.com/?uri=spotify%3Aalbum%3A2RijGUbCDbWCKsj6bgIEvD" width="300" height="380" allowtransparency="true"></iframe>

      <div class="aspect-16-9">
        <iframe src="https://player.vimeo.com/video/92345585" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>

      <a class="font-shrink-400" href="mailto:thedreamtband@gmail.com">thedreamtband@gmail.com</a>
    </div>

    {% include scripts.html %}

  </body>
</html>
